<form class="form" #profileForm="ngForm" (ngSubmit)="setUserProfile(profileForm)">
    <h2 class="editH2">Complete to Update Your Profile</h2>
    <label for="name" class="label">Name</label>
    <input class="input" type="text" name="name" id="name" [ngModel]="userProfile.name"/>
    <label for="contact" class="label">Contact</label>
    <input  class="input" type="text" name="contact" id="contact" [ngModel]="userProfile.contact"/>
    <label for="bio" class="label">Bio</label>
    <input  class="bio-input" type="text" name="bio" id="bio" [ngModel]="userProfile.bio"/>
    <button class="update-btn">Update</button>
</form>
